.list-header__form {
	display: flex;
	justify-content: space-between;
}

.list-header__form > .input {
	flex: 1;
	margin-right: var(--space-lg);
}

@media screen and (max-width: 767.98px) {
	.list-header__form > .input {
		margin-right: calc(var(--space-md) * 1.5);
	}

	.list-header__form .btn {
		font-size: 12px;
	}

	.list-header__form .btn--primary {
		padding: 14px 26px;
	}
}