:root {
  --logo-font: 'Raleway', sans-serif;
  --content-font: 'Montserrat', sans-serif;

  /* Spacing | Global */
  --space-unit: 1em;
  --space-xs: calc(0.5 * var(--space-unit));
  --space-sm: calc(0.7 * var(--space-unit));
  --space-md: calc(1.25 * var(--space-unit));
  --space-lg: calc(2 * var(--space-unit));
  --space-xl: calc(3 * var(--space-unit));

  /* Font sizes | Global */
  --text-lg: 36px;
  --text-md: 18px;
  --text-sm: 14px;

  /* Colors | Global */
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-grey-1: #333333;
  --color-grey-2: #828282;
  --color-grey-3: #BDBDBD;
  --color-grey-4: #A9A9A9;
  --color-blue-1: #0039CB;
  --color-blue-2: #2F80ED;
  --color-red-1: #9A0007;
  --color-red-2: #EB5757;
}

.App {
  font-family: var(--content-font);
  min-height: 100vh;
  padding: var(--space-sm);
  position: relative;
}

.App__logo {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: var(--text-lg);
  text-align: center;
  margin-top: 5px;
}

.App__logo > a {
  text-decoration: none;
  color: inherit;
}

.App__button-wrapper {
  margin-top: var(--space-lg);
  margin-bottom: var(--space-xl);
  display: flex;
  justify-content: flex-end;
}

.App > .nav {
  margin-bottom: var(--space-md);
}

.App > .list > li:last-child {
  margin-bottom: var(--space-lg);
}

.App > .list-header {
  margin-bottom: var(--space-lg);
}

.material-icons {
  font-size: 23px;
}

@media screen and (max-width: 798.98px) {
  :root {
    /* Font Size | Global */
    --text-md: 16px;
    --text-sm: 12px;

    /* Spacing | Global */
    --space-md: var(--space-sm);
    --space-lg: var(--space-md);
  }
}
