:root {
  --logo-font: 'Raleway', sans-serif;
  --content-font: 'Montserrat', sans-serif;

  /* Spacing | Global */
  --space-unit: 1em;
  --space-xs: calc(0.2 * var(--space-unit));
  --space-sm: calc(0.7 * var(--space-unit));
  --space-md: calc(1.25 * var(--space-unit));
  --space-lg: calc(2 * var(--space-unit));

  /* Font sizes | Global */
  --text-lg: 36px;
  --text-md: 18px;
  --text-sm: 14px;

  /* Colors | Global */
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-grey-1: #333333;
  --color-grey-2: #828282;
  --color-grey-3: #BDBDBD;
  --color-blue: #2F80ED;
  --color-red: #EB5757;
}

.App {
  font-family: var(--content-font);
}

.App__logo {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: var(--text-lg);
  text-align: center;
}
